<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

    <nav>
        <div class="site-title">
                <h1>Yazılım Laboratuvarı II Proje I</h1>
            <p>Araç Takip Uygulaması</p>
        </div>
        <ul>
            <li> <%if (typeof request != 'undefined'){%>
                <a href="/logout">Çıkış Yap</a>              
                <% } %> </li>   
        </ul>
    </nav>
    <h1>Welcome <%if (typeof request != 'undefined'){%>
        <%= request.session.username %>
        !
        <% } %> </h1>
    <div id="map"></div>


    <%- include('./partials/footer.ejs') %>

    

    <script type='text/javascript'>
        
        var map;
        var cars = <%- JSON.stringify(result) %>
        
        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: {
                    lat: cars[0].latitude,
                    lng: cars[0].longitude,
                },
                zoom: 12,
            });
        
            for (let i = 0; i < cars.length; i++) {
                    marker = new google.maps.Marker({
                    position: {
                        lat: cars[i].latitude,
                        lng: cars[i].longitude,
                    },
                    map: map,
                })
            }
        }
    </script>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=<YOUR_API_KEY>&callback=initMap&v=weekly">
    </script>
</body>

</html>
